@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

a{
    text-decoration: none;
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
    color: var(--black_text);
    font-size: 18px;
    font-weight: 400;
}

:root{
    --white_text: #fff;
    --black_text: #141024;
    --bg_color: #141024;
    --red_color: #D52027;
}

.title{
    font-weight: 600;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main{
    background: var(--bg_color);
}

.header{
    max-width: 1720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white_text);
    padding-top: 30px;
}

.logo{
    font-size: 30px;
    font-weight: 700;
}

.menu{
    display: flex;
    gap: 40px;
}

.menu__link{
    color: var(--white_text);
    font-size: 20px;
    font-weight: 400;
}

.phone{
    font-size: 30px;
    font-weight: 600;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white_text);
}

.hero--title{
    font-size: 70px;
    margin-bottom: 20px;
}

.hero--subtitle{
    font-size: 20px;
    margin-bottom: 70px;
}

.hero--btn{
    background: var(--red_color);
    padding: 25px 54px;
}


/* about */

.about--subtitle{
    max-width: 891px;
    font-size: 30px;
    font-weight: 400;
    margin-top: 120px;
    margin-bottom: 60px;
}

.card__container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.about .card__item{
    max-width: 260px;
}

.about .card__title{
    font-size: 70px;
    color: var(--red_color);
    line-height: 160%
}

/* course */

.course{
    margin-top: 220px;
}

.course--title{
    font-size: 50px;
}

.course .card__item{
    max-width: 360px;
}

.course .card__title{
    font-size: 24px;
    color: var(--black_text);
}

